node_modules

# Jest test report
report.xml

# Jest code coverage output
coverage/

# AWS SAM
.aws-sam/
samconfig.toml

cf-output.txt
docker-vars.env

# VSCode
.vscode

# IntelliJ IDEA
.idea

# .env generated for local API testing
.env

async-proxy-private-spec.yaml