name: Backend API Post Merge
on:
  push:
    branches:
      - main
    paths:
      - "backend-api/**"
      - ".github/workflows/job_push-docker-image.yml"
      - ".github/workflows/job_upload-sam-artifact.yml"
      - ".github/workflows/backend-api-post-merge.yml"
      - "!backend-api/**/*.md"
      - "!backend-api/**/*.png"
      - "!quality-gate.manifest.json"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  packages: read

defaults:
  run:
    shell: bash
    working-directory: ./backend-api

jobs:
  ci-checks:
    name: Pre-deployment
    uses:
      ./.github/workflows/job_ci-checks.yml
    with:
      PRIVATE_PACKAGES_REQUIRED: true
      WORKING_DIRECTORY: backend-api

  run-test-suite:
    name: Pre-deployment
    uses:
      ./.github/workflows/job_test-suite.yml
    with:
      PRIVATE_PACKAGES_REQUIRED: true
      RUN_PACT_TESTS: true
      PUBLISH_PACT_VERIFICATION_RESULTS: true
      SONARQUBE_CONTINUE_ON_ERROR: true
      WORKING_DIRECTORY: backend-api
    secrets: inherit

  push-docker-image-dev:
    name: Dev
    needs: 
      - ci-checks
      - run-test-suite
    uses:
      ./.github/workflows/job_push-docker-image.yml
    with:
      PRIVATE_PACKAGES_REQUIRED: true
      WORKING_DIRECTORY: backend-api
    secrets:
      CONTAINER_SIGN_KMS_KEY: ${{ secrets.DEV_CONTAINER_SIGN_KMS_KEY }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_API_DEV_GH_ACTIONS_ROLE_ARN }}
      TEST_IMAGE_REPOSITORY_URI: ${{ secrets.BACKEND_API_DEV_TEST_IMAGE_REPOSITORY }}

  upload-sam-artifact-dev:
    name: Dev
    needs: push-docker-image-dev
    uses:
      ./.github/workflows/job_upload-sam-artifact.yml
    with:
      GENERATE_OPEN_PROXY_API_SPEC: true
      WORKING_DIRECTORY: backend-api
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.BACKEND_API_DEV_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_API_DEV_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}

  push-docker-image-build:
    name: Build
    needs: 
      - ci-checks
      - run-test-suite
    uses:
      ./.github/workflows/job_push-docker-image.yml
    with:
      PRIVATE_PACKAGES_REQUIRED: true
      WORKING_DIRECTORY: backend-api
    secrets:
      CONTAINER_SIGN_KMS_KEY: ${{ secrets.BUILD_CONTAINER_SIGN_KMS_KEY }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_API_BUILD_GH_ACTIONS_ROLE_ARN }}
      TEST_IMAGE_REPOSITORY_URI: ${{ secrets.BACKEND_API_BUILD_TEST_IMAGE_REPOSITORY }}

  upload-sam-artifact-build:
    name: Build
    needs: push-docker-image-build
    uses:
      ./.github/workflows/job_upload-sam-artifact.yml
    with:
      GENERATE_OPEN_PROXY_API_SPEC: true
      WORKING_DIRECTORY: backend-api
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.BACKEND_API_BUILD_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.BACKEND_API_BUILD_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.BUILD_SIGNING_PROFILE_NAME }}
