name: backend-api pull request
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths:
      - "backend-api/**"
      - ".github/workflows/backend-api-pull-request.yml"
      - ".github/workflows/workflow_pull-request.yml"
      - ".github/workflows/job_ci-checks.yml"
      - ".github/workflows/job_test-suite.yml"
      - ".github/workflows/job_sonarqube.yml"

  workflow_dispatch:

jobs:
  backend-api-pull-request:
    name: Backend-api pull request checks
    if: github.event.pull_request.draft == false
    uses:
      govuk-one-login/mobile-id-check-async/.github/workflows/workflow_pull-request.yml@DCMAW-12118
    with:
      WORKING_DIRECTORY: backend-api
    secrets: inherit
