name: Helper Scripts Pull Request
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths:
      - "helper-scripts/**"
      - ".github/workflows/helper-scripts-pull-request.yml"
      - ".github/workflows/job_ci-checks.yml"
      - "!helper-scripts/**/*.md"
      - "!helper-scripts/**/*.png"

  workflow_dispatch:

jobs:
  ci-checks:
    - name: Run format check
      run: npm run format:check

    - name: CI checks
      if: github.event.pull_request.draft == false
      uses:
        ./.github/workflows/job_ci-checks.yml
      with:
        RUN_CHECKOV: false
        WORKING_DIRECTORY: helper-scripts
