name: CI Checks

on:
  workflow_call:
    inputs:
      RUN_FORMATTING:
        description: Whether to run the `format:check` npm script
        type: string
        default: true
      RUN_LINTER:
        description: Whether to run the `lint` npm script
        type: string
        default: true
      RUN_RAIN_FORMAT_VERIFY:
        description: Whether to verify template format by running the `infra:format:verify` npm script
        type: string
        default: false
      RUN_SAM_VALIDATE:
        description: Whether to run SAM validate lint on templates
        type: string
        default: true
      WORKING_DIRECTORY:
        description: Path to working directory in repo
        required: true
        type: string

jobs:
  ci-checks:
    name: Run CI checks
    runs-on: ubuntu-24.04
    env:
      SAM_CLI_TELEMETRY: 0
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.WORKING_DIRECTORY }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true

      - name: Setup nodeJS
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: npm
          cache-dependency-path: ${{ inputs.WORKING_DIRECTORY }}/package-lock.json
          node-version-file: ${{ inputs.WORKING_DIRECTORY }}/.nvmrc

      - name: Install dependencies
        run: npm clean-install

      - name: Check formatting
        if: inputs.RUN_FORMATTING == 'true'
        run: npm run format:check

      - name: Check linting
        if: inputs.RUN_LINTER == 'true'
        run: npm run lint

      - name: Set up Homebrew
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        id: set-up-homebrew
        run: |
          # Suggestion found in Ubuntu-24.02 runner image README; https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
          # The suggested command doesn't persist across steps: eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          # The following commands mimics the output from the suggested command. It may break for future runners.
          echo "HOMEBREW_CELLAR=/home/linuxbrew/.linuxbrew/Cellar" >> $GITHUB_ENV
          echo "HOMEBREW_REPOSITORY=/home/linuxbrew/.linuxbrew/Homebrew" >> $GITHUB_ENV
          echo "/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH

      - name: Install rain
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        run: brew install rain

      - name: Verify template format using rain
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        run: npm run infra:format:verify

      - name: Validate SAM template
        if: inputs.RUN_SAM_VALIDATE == 'true'
        run: |
          TEMPLATES="$(find . -name template.yaml)"
          for template in $TEMPLATES ; do
            sam validate --lint --template-file $template
          done
