name: CI Checks

on:
  workflow_call:
    inputs:
      RUN_CHECKOV:
        description: Whether to run checkov on template.yaml
        type: string
        default: true
      RUN_FORMATTING:
        description: Whether to run the `format:check` npm script
        type: string
        default: true
      RUN_LINTER:
        description: Whether to run the `lint` npm script
        type: string
        default: true
      RUN_RAIN_FORMAT_VERIFY:
        description: Whether to verify template format by running the `infra:format:verify` npm script
        type: string
        default: false
      RUN_SAM_VALIDATE:
        description: Whether to run SAM validate lint on templates
        type: string
        default: true
      WORKING_DIRECTORY:
        description: Path to working directory in repo
        required: true
        type: string
      PRIVATE_PACKAGES_REQUIRED:
        description: Whether private packages must be installed
        type: string
        default: false

jobs:
  ci-checks:
    name: Run CI checks
    runs-on: ubuntu-24.04
    env:
      SAM_CLI_TELEMETRY: 0
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.WORKING_DIRECTORY }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true

      - name : Check If PR Title Includes Apostrophe
        env:
          TITLE: ${{ github.event.pull_request.title }}
          REGEX_PATTERN: ^[^']*$
        run: |
          echo $TITLE
          if [[ $TITLE =~ $REGEX_PATTERN ]]; then
            echo 'PR title is valid'
          else
            echo 'PR title includes apostrophe. This causes SAM upload to fail. Remove apostrophe from PR title and retry.'
            exit 1
          fi

      - name: Setup nodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          cache-dependency-path: ${{ inputs.WORKING_DIRECTORY }}/package-lock.json
          node-version-file: ${{ inputs.WORKING_DIRECTORY }}/.nvmrc

      - name: Configure authentication for private packages in .npmrc
        if: inputs.PRIVATE_PACKAGES_REQUIRED == 'true'
        run: |
          echo 'engine-strict=true' > .npmrc
          echo 'ignore-scripts=true' >> .npmrc
          echo '@govuk-one-login:registry=https://npm.pkg.github.com/' >> .npmrc
          echo '//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}' >> .npmrc

      - name: Install dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm clean-install

      - name: Check formatting
        if: inputs.RUN_FORMATTING == 'true'
        run: npm run format:check

      - name: Check linting
        if: inputs.RUN_LINTER == 'true'
        run: npm run lint

      - name: Set up Homebrew
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        id: set-up-homebrew
        run: |
          # Suggestion found in Ubuntu-24.02 runner image README; https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
          # The suggested command doesn't persist across steps: eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          # The following commands mimics the output from the suggested command. It may break for future runners.
          echo "HOMEBREW_CELLAR=/home/linuxbrew/.linuxbrew/Cellar" >> $GITHUB_ENV
          echo "HOMEBREW_REPOSITORY=/home/linuxbrew/.linuxbrew/Homebrew" >> $GITHUB_ENV
          echo "/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH

      - name: Install rain
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        run: brew install rain

      - name: Verify template format using rain
        if: inputs.RUN_RAIN_FORMAT_VERIFY == 'true'
        run: npm run infra:format:verify

      - name: Validate SAM template
        if: inputs.RUN_SAM_VALIDATE == 'true'
        run: |
          TEMPLATES="$(find . -name "template*.yaml")"
          for template in $TEMPLATES ; do
            sam validate --lint --template-file $template
          done

      - name: Run Checkov
        if: inputs.RUN_CHECKOV == 'true'
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd # v12
        with:
          directory: ${{ inputs.WORKING_DIRECTORY }}
          quiet: true
          soft_fail: true
          framework: cloudformation
