name: Test Resources Post Merge
on:
  push:
    branches:
      - main
    paths:
      - "test-resources/**"
      - ".github/workflows/job_push-docker-image.yml"
      - ".github/workflows/job_upload-sam-artifact.yml"
      - ".github/workflows/test-resources-post-merge.yml"
      - "!test-resources/**/*.md"
      - "!test-resources/**/*.png"
      - "!quality-gate.manifest.json"
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

defaults:
  run:
    shell: bash
    working-directory: ./test-resources

jobs:
  ci-checks:
    name: Pre-deployment
    uses:
      ./.github/workflows/job_ci-checks.yml
    with:
      WORKING_DIRECTORY: test-resources

  run-test-suite:
    name: Pre-deployment
    needs: ci-checks
    uses:
      ./.github/workflows/job_test-suite.yml
    with:
      SONARQUBE_CONTINUE_ON_ERROR: true
      WORKING_DIRECTORY: test-resources
    secrets: inherit

  push-docker-image-dev:
    name: Dev
    needs: 
      - ci-checks
      - run-test-suite
    uses:
      ./.github/workflows/job_push-docker-image.yml
    with:
      WORKING_DIRECTORY: test-resources
    secrets:
      CONTAINER_SIGN_KMS_KEY: ${{ secrets.DEV_CONTAINER_SIGN_KMS_KEY }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.TEST_RESOURCES_DEV_GH_ACTIONS_ROLE_ARN }}
      TEST_IMAGE_REPOSITORY_URI: ${{ secrets.TEST_RESOURCES_DEV_TEST_IMAGE_REPOSITORY_URI }}

  upload-sam-artifact-dev:
    name: Dev
    needs: push-docker-image-dev
    uses:
      ./.github/workflows/job_upload-sam-artifact.yml
    with:
      WORKING_DIRECTORY: test-resources
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.TEST_RESOURCES_DEV_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.TEST_RESOURCES_DEV_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.DEV_SIGNING_PROFILE_NAME }}

  push-docker-image-build:
    name: Build
    needs: 
      - ci-checks
      - run-test-suite
    uses:
      ./.github/workflows/job_push-docker-image.yml
    with:
      WORKING_DIRECTORY: test-resources
    secrets:
      CONTAINER_SIGN_KMS_KEY: ${{ secrets.BUILD_CONTAINER_SIGN_KMS_KEY }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.TEST_RESOURCES_BUILD_GH_ACTIONS_ROLE_ARN }}
      TEST_IMAGE_REPOSITORY_URI: ${{ secrets.TEST_RESOURCES_BUILD_TEST_IMAGE_REPOSITORY_URI }}

  upload-sam-artifact-build:
    name: Build
    needs: push-docker-image-build
    uses:
      ./.github/workflows/job_upload-sam-artifact.yml
    with:
      WORKING_DIRECTORY: test-resources
    secrets:
      ARTIFACT_BUCKET: ${{ secrets.TEST_RESOURCES_BUILD_ARTIFACT_BUCKET }}
      GH_ACTIONS_ROLE_ARN: ${{ secrets.TEST_RESOURCES_BUILD_GH_ACTIONS_ROLE_ARN }}
      SIGNING_PROFILE_NAME: ${{ secrets.BUILD_SIGNING_PROFILE_NAME }}
