name: Test Resources Pull Request
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - ready_for_review
      - synchronize
    paths:
      - "test-resources/**"
      - ".github/workflows/test-resources-pull-request.yml"
      - ".github/workflows/workflow_pull-request.yml"
      - ".github/workflows/job_ci-checks.yml"
      - ".github/workflows/job_test-suite.yml"
      - "!test-resources/**/*.png"

  workflow_dispatch:

jobs:
  ci-checks:
    name: CI checks
    if: github.event.pull_request.draft == false
    uses:
      ./.github/workflows/job_ci-checks.yml
    with:
      WORKING_DIRECTORY: test-resources

  run-test-suite:
    name: Run test suite
    needs: ci-checks
    uses:
      ./.github/workflows/job_test-suite.yml
    with:
      WORKING_DIRECTORY: test-resources
    secrets: inherit
