name: Pull request

on:
  workflow_call:
    inputs:
      RUN_FORMATTING:
        description: Whether to run the `format:check` npm script
        type: string
        default: true
      RUN_INFRA_TESTS:
        description: Whether to run infra tests using `test:infra` npm script
        type: string
        default: true
      RUN_LINTER:
        description: Whether to run the `lint` npm script
        type: string
        default: true
      RUN_RAIN_FORMAT_VERIFY:
        description: Whether to verify template format by running the `infra:format:verify` npm script
        type: string
        default: false
      RUN_SAM_VALIDATE:
        description: Whether to run SAM validate lint on templates
        type: string
        default: true
      RUN_SONARQUBE:
        description: Whether to run SonarQube checks. Needs RUN_UNIT_TESTS to be true.
        type: string
        default: true
      RUN_UNIT_TESTS:
        description: Whether to run unit tests using `test:unit` npm script
        type: string
        default: true
      WORKING_DIRECTORY:
        description: Path to working directory in repo
        required: true
        type: string
    secrets:
      SONAR_TOKEN:
        description: The token used for secure access to the SonarQube platform
        required: false

jobs:
  validate-inputs:
    name: Check and validate inputs
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      RUN_FORMATTING: ${{ inputs.RUN_FORMATTING }}
      RUN_INFRA_TESTS: ${{ inputs.RUN_INFRA_TESTS }}
      RUN_LINTER: ${{ inputs.RUN_LINTER }}
      RUN_SAM_VALIDATE: ${{ inputs.RUN_SAM_VALIDATE }}
      RUN_SONARQUBE: ${{ inputs.RUN_SONARQUBE }}
      RUN_UNIT_TESTS: ${{ inputs.RUN_UNIT_TESTS }}
    steps:
      - name: Print inputs
        run: |
          echo "RUN_FORMATTING=$RUN_FORMATTING"
          echo "RUN_INFRA_TESTS=$RUN_INFRA_TESTS"
          echo "RUN_LINTER=$RUN_LINTER"
          echo "RUN_SAM_VALIDATE=$RUN_SAM_VALIDATE"
          echo "RUN_SONARQUBE=$RUN_SONARQUBE"
          echo "RUN_UNIT_TESTS=$RUN_UNIT_TESTS"

      - name: Validate SonarQube and Unit Test inputs
        run: |
          if [[ "$RUN_SONARQUBE" == true && "$RUN_UNIT_TESTS" == false ]]; then
            echo "SonarQube requires a coverage report created by running unit tests. If RUN_SONARQUBE is true, RUN_UNIT_TESTS must be true."
            exit 1
          fi
          echo "RUN_SONARQUBE and RUN_UNIT_TESTS settings are valid."

  ci-checks:
    name: CI checks
    needs: validate-inputs
    uses:
      ./.github/workflows/job_ci-checks.yml
    with:
      RUN_FORMATTING: ${{ inputs.RUN_FORMATTING }}
      RUN_LINTER: ${{ inputs.RUN_LINTER }}
      RUN_RAIN_FORMAT_VERIFY: ${{ inputs.RUN_RAIN_FORMAT_VERIFY }}
      RUN_SAM_VALIDATE: ${{ inputs.RUN_SAM_VALIDATE }}
      WORKING_DIRECTORY: ${{ inputs.WORKING_DIRECTORY }}

  run-test-suite:
    name: Run test suite
    needs: validate-inputs
    uses:
      ./.github/workflows/job_test-suite.yml
    with:
      RUN_INFRA_TESTS: ${{ inputs.RUN_INFRA_TESTS }}
      RUN_UNIT_TESTS: ${{ inputs.RUN_UNIT_TESTS }}
      RUN_SONARQUBE: ${{ inputs.RUN_SONARQUBE }}
      WORKING_DIRECTORY: ${{ inputs.WORKING_DIRECTORY }}

  sonarqube-scan:
    name: SonarQube scan
    if: inputs.RUN_SONARQUBE == 'true'
    needs: run-test-suite
    uses:
      ./.github/workflows/job_sonarqube.yml
    with:
      WORKING_DIRECTORY: ${{ inputs.WORKING_DIRECTORY }}
    secrets: inherit
